<div class='flex'>
  <div
    class='fixed inset-0 z-20 transition-opacity bg-black opacity-50 lg:hidden'
  ></div>

  <div
    class='fixed inset-y-0 left-0 z-30 w-64 overflow-y-auto transition duration-300 transform bg-gray-900 lg:translate-x-0 lg:static lg:inset-0'
  >
    <div class='flex items-center justify-center mt-8'>
      <img src='imgs/logo.jpg' class='w-10' alt='test' />
      <div class='flex items-center'>
        <span class='mx-2 text-2xl font-semibold text-white'>HShopp Admin</span>
      </div>
    </div>

    <nav class='mt-10'>
      <a
        class='flex items-center border-gray-900 text-gray-500 hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100 nav-item px-6 py-2 mt-4 duration-200 border-l-4'
        href='/user'
      >

        <span class='mx-4'>User</span>
      </a>

      <a
        class='flex items-center border-gray-900 text-gray-500 hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100 px-6 py-2 nav-item mt-4 duration-200 border-l-4'
        href='/category-product'
      >

        <span class='mx-4'>Category & Product</span>
      </a>

      <a
        class='flex items-center border-gray-900 text-gray-500 hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100 nav-item px-6 py-2 mt-4 duration-200 border-l-4'
        href='/publisher'
      >

        <span class='mx-4'>Publisher</span>
      </a>

      <a
        class='flex items-center border-gray-900 text-gray-500 hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100 nav-item px-6 py-2 mt-4 duration-200 border-l-4'
        href='/order'
      >

        <span class='mx-4'>Order</span>
      </a>

      <a
        class='flex items-center border-gray-900 text-gray-500 hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100 nav-item px-6 py-2 mt-4 duration-200 border-l-4'
        href='/review'
      >

        <span class='mx-4'>Review</span>
      </a>

      <a
        class='flex items-center border-gray-900 text-gray-500 hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100 nav-item px-6 py-2 mt-4 duration-200 border-l-4'
        href='/on-sale'
      >

        <span class='mx-4'>On Sale</span>
      </a>

      <a
        class='flex items-center border-gray-900 text-gray-500 hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100 nav-item px-6 py-2 mt-4 duration-200 border-l-4'
        href='/promotion'
      >

        <span class='mx-4'>Promotion</span>
      </a>

      <a
        class='flex items-center border-gray-900 text-gray-500 hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100 nav-item px-6 py-2 mt-4 duration-200 border-l-4'
        href='/about'
      >

        <span class='mx-4'>About</span>
      </a>
    </nav>
  </div>
</div>

<script src='js/sidebar.js'></script>